@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/fonts/Bai_Jamjuree/BaiJamjuree-Regular.woff2") format("woff2"), url("/fonts/Bai_Jamjuree/BaiJamjuree-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url("/fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.woff2") format("woff2"), url("/fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.header {
  position: relative;
}

.header .container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
}

.header .container .header__logo {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}

.header .container .header__title {
  color: #4b565c;
  font-size: 28px;
  margin-bottom: 20px;
}

.header .container .header__copy {
  color: #afb0b2;
  margin: 0 auto;
  padding-bottom: 38px;
  line-height: 30px;
  max-width: 630px;
}

.header .container .header__download {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  max-width: 400px;
  margin: 0 auto;
  grid-row-gap: 16px;
}

.header .container .header__download .btn__down {
  height: 45px;
  border-radius: 50px;
  border: none;
  color: #fff;
  font-family: 'Bai Jamjuree';
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.header .container .header__download .btn__down:hover {
  opacity: .7;
}

.header .container .header__download .btn__for__ios {
  background-color: #26bba5;
  -webkit-box-shadow: 0 3px #1ba08d;
          box-shadow: 0 3px #1ba08d;
}

.header .container .header__download .brn__for__mac {
  background-color: #6174ff;
  -webkit-box-shadow: 0 3px #5365cb;
          box-shadow: 0 3px #5365cb;
}

.header .header__bg__img {
  width: 100%;
  min-height: 360px;
  background-image: url("/img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  top: 0;
  z-index: -1;
}

@media (min-width: 425px) {
  .header .header__bg__img {
    width: 100%;
    min-height: 340px;
    background-image: url("/img/bg-header-desktop.png");
    background-position: center;
  }
  .header .container {
    padding-top: 110px;
  }
  .header .container .header__title {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .header .container .header__logo {
    width: 130px;
    height: 130px;
    margin-bottom: 70px;
  }
  .header .container .header__title {
    font-size: 44px;
    margin-bottom: 32px;
  }
  .header .container .header__copy {
    padding-bottom: 48px;
  }
  .header .container .header__download {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    grid-column-gap: 10px;
    max-width: 500px;
  }
}

.main {
  padding-top: 140px;
}

.main .container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 50px;
}

.main .container .main__content {
  max-width: 740px;
  text-align: center;
}

.main .container .main__content .main__content__title {
  color: #4b565c;
  font-size: 24px;
  margin-bottom: 20px;
}

.main .container .main__content .main__content__copy {
  color: #afb0b2;
}

.main .container .main__img {
  max-width: 800px;
  width: 100%;
  min-height: 160px;
}

.main .container .main__feature {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 340px;
}

.main .container .main__feature .feature__box {
  text-align: center;
  margin-bottom: 45px;
  font-size: 16px;
}

.main .container .main__feature .feature__box .feature__title {
  color: #4b565c;
  font-size: 24px;
  margin-bottom: 12px;
}

.main .container .main__feature .feature__box .feature__copy {
  color: #afb0b2;
}

@media (min-width: 425px) {
  .main .container .main__content .main__content__title {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .main .container {
    -ms-grid-columns: auto 600px;
        grid-template-columns: auto 600px;
    -ms-grid-rows: 140px auto;
        grid-template-rows: 140px auto;
    grid-row-gap: 100px;
    grid-column-gap: 20px;
  }
  .main .container .main__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .main .container .main__content .main__content__title {
    font-size: 34px;
  }
  .main .container .main__content .main__content__copy {
    margin-bottom: 80px;
  }
  .main .container .main__img {
    width: 740px;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  .main .container .main__feature {
    -ms-grid-column-align: left;
        justify-self: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    max-width: 400px;
  }
  .main .container .main__feature .feature__box {
    margin-bottom: 70px;
    text-align: left;
  }
  .main .container .main__feature .feature__history {
    margin-bottom: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid orange;
  overflow: hidden;
}

.container {
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */