.appStore{
  padding: 135px 0;

  .container{
    .appStore__content{
      max-width: 680px;
      text-align: center;
      margin: 0 auto;

      .appStore__title{margin-bottom: 20px; font-size: 24px;}
      .appStore__copy{margin-bottom: 30px;}
      .appStore__btns{
        .appStore__btns__link{
          display: grid;
          align-items: center;
          max-width: 400px;
          height: 40px;
          margin: 0 auto;
          text-decoration: none;
          color: #fff;
          border-radius: 50px;
          &:hover{opacity: 0.8}
        }
        .appStore__ios{
          background-color: rgb(38, 187, 165);
          box-shadow: 0 3px rgb(37, 154, 135),
                      0 10px 20px rgba(127, 226, 211, 0.562);
          margin-bottom: 16px;
        }
        .appStore__mac{
          background-color: rgb(97, 116, 255);
          box-shadow: 0 3px rgb(87, 99, 209),
                      0 10px 20px rgba(126, 137, 226, 0.562)
        }
      }
    }
  }
}

@media(min-width: 1024px){
  .appStore{
    .container{
      .appStore__content{
        .appStore__title{margin-bottom: 30px; font-size: 34px;}
        .appStore__copy{margin-bottom: 50px;}
        .appStore__btns{
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-column-gap: 15px;
          align-items: center;

          max-width: 473px;
          margin: 0 auto;

          .appStore__btns__link{
            margin: 0;
            height: 48px;
          }
        }
      }
    }
  }
}