@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/fonts/Bai_Jamjuree/BaiJamjuree-Regular.woff2') format('woff2'),
    url('/fonts/Bai_Jamjuree/BaiJamjuree-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bai Jamjuree';
  src: url('/fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.woff2') format('woff2'),
    url('/fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}


@import './header';
@import './main__feature';
@import './benefits';
@import './productivity';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: rgb(175, 176, 178);
}
.wrapper{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid orange;
  overflow: hidden;
}
.container{
  padding: 0 20px;
}
h1{color: #4b565c;}